# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
/secret


catalogc/catadmin/catadmin

domanager/app/bcadmin
domanager/app/catadmin
domanager/app/config.toml
domanager/app/csadmin
domanager/app/my.db
domanager/app/uploads

dsmanager/app/bcadmin
dsmanager/app/catadmin
dsmanager/app/config.toml
dsmanager/app/csadmin
dsmanager/app/docs
dsmanager/app/id_rsa
dsmanager/app/id_rsa.pub
dsmanager/app/my.db
dsmanager/app/pcadmin

enclavem/app/bcadmin
enclavem/app/config.toml
enclavem/app/csadmin
enclavem/app/main
enclavem/app/my.db
enclavem/app/pcadmin
enclavem/secret

ledger/bcadmin
ledger/csadmin
ledger/darc_id.txt
ledger/darc_key.txt
ledger/conode

projectc/pcadmin/pcadmin
student_18_explorer/
variables.sh