#!/bin/sh
# VCD = VCloud Director
# VDC = Virtual Data Center
export VCD_PASS=
export VCD_HOST=
export VCD_API_USER=
export VCD_ORG_NAME=

export VDC_ID=
export NETWORK_ID=
export TEMPLATE_ID=

export MINIO_ENDPOINT=localhost:9990
export MINIO_ACCESS_KEY=minioadmin
export MINIO_SECRET_KEY=XXX-put-your-own-random-string-here-XXX

# Suggested default, you can move this.
export BC_CONFIG=$HOME/.odyssey-config
# You will fill this in after `bcadmin create` or `bcadmin link`
export BC=
